


/**----------------------boilerplate----------------------**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "General Sans";
    background: var(--BG-Color);

}


html, body {
    width: 100%;
    height: 100%;
}

:root {
    --BG-Color:   #000000;
    --FG-Color:   ;
}


/**----------------------css start----------------------**/

.mincircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    background-color: #fff;
    position: absolute;
    z-index: 99999;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.main {
    width: 100%;
}

.hero{
    position: relative;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: var(--BG-Color);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}

.nav a{
    font-size: 18px;
    color: #fff;
}

.heading{
    margin-top: 100px;
}

.heading h1{
    font-family: "General Sans";
    margin-left: 30px;
    font-size: 10vw;
    line-height: 1;
    opacity: .7;
    text-transform: uppercase;
    font-weight: 900;
}

.heading .heading2h1{
    margin-left: 190px;
}

.blocktext {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
    /* background-color: #fffd; */
}

.blocktext H5{
    text-align: right;
    text-transform: uppercase;
    font-size: 15PX;
}

.animationyup{
    width: fit-content;
    /* background-color: #888; */
    overflow: hidden;
}

.animationyup h1{
    transform: translateY(100%);
}

.animationydown{
    width: fit-content;
    /* background-color: #888; */
    overflow: hidden;
}

.animationydown h5{
    transform: translateY(-110%);
}

.secondheading{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
}

.secondheading h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: .4vw;
    font-size: 1.5vw;
}

.herofooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 3%;
    width: 100%;
    padding: 0 2vw;
}



.herofooter a{
    color: #fff;
    text-transform: uppercase;
}

.herofooter .iconset{
    display: flex;
    gap: 5px;

}

.herofooter .circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle i{
    color: #000;
    background: transparent;
}

.second{
    color: #fff;
    /* background: var(--BG-Color); */
    width: 100%;
    /* height: 100vh; */
    padding-top: 200px;
    padding-right: 10vw;
}


.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 0 3.5vw 3vw;
    border-top: 1px solid #888;
}

.elem h2{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
}

.elemlest{
    border-bottom: 1px solid #888;
}

.elem img{
    position: absolute;
    z-index: 5;
    height: 140%;
    /* opacity: 0; */
    display: none;
}

.about {
    display: flex;
    align-items: center;
    justify-content: right;
    /* justify-content: space-between; */
    gap: 50px;
    width: 100%;
    color: #fff;
    padding: 10vw 10vw;
    padding-right: 15vw;
}

.imgabout {
    width: 250px;
}

.textabout{
    width: 27rem;
}

.textabout h5{
    text-transform: uppercase;
    opacity: .7;
    margin-bottom: 10px;
}

.textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}

.textabout a{
    color: #fff;
    padding:5px 15px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.sub{
    color: #fff;
    padding: 20px 30px;
    padding-bottom: 7vw;
}

.sub h5{
    text-transform: uppercase;
    opacity: .7;
}

.sub h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 40px 30px;
}

.footerleft{
    display: flex;
    gap: 40px;
}

.footerright{
    display: flex;
    gap: 40px;
}

.footerright a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    gap: 20px;
}